.title
    display: flex
    align-items: center
    justify-content: flex-start
    height: .4rem
    padding: .26rem .16rem
    font-weight: 500
    font-size: .3rem
    line-height: .44rem
    background: #fff
    border-bottom: .005rem solid #ebebeb
    i 
        display: inline-block
        width: .1rem
        height: .4rem
        margin-right: .08rem
        vertical-align: middle
        background: #4169e2

.list-wrap
    padding: 0 .26rem
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat
    background-size: 100% 1.13rem
    border-top: .01rem solid #fff
    .item-wrap
        max-height: 4.42rem
        margin: .16rem 0
        padding: .2rem .16rem
        background-color: #fff
        border-radius: .1rem
        box-shadow: 0 0.03rem 0.1rem 0 rgba(0,0,0,.08)
        .item
            overflow hidden
            h1
                font-size .36rem
            p
                min-height: .48rem
                padding-top: .03rem
                color: #666
                font-weight: 400
                font-size: .2rem
                line-height: .34rem
                display: -webkit-box
                overflow: hidden
                text-overflow: ellipsis
                word-break: break-all   
            .info
                float: right
                color: #4169e2
                font-size: .22rem
                cursor: pointer

    .list
        max-height: 4.42rem
        margin: .26rem 0
        padding: .2rem .16rem
        background-color: #fff
        border-radius: .1rem
        box-shadow: 0 0.03rem 0.1rem 0 rgba(0,0,0,.08)
        img 
            float: left
            width: 1.6rem
            height: 1.6rem
            object-fit: cover
            border-radius: .04rem
            padding-right .3rem
        .right
            overflow hidden
            h2
                padding-top: .02rem
                color: #333
                font-weight: 500
                font-size: .36rem
                display: -webkit-box
                overflow: hidden
                text-overflow: ellipsis
            p
                min-height: .48rem
                padding-top: .03rem
                color: #666
                font-weight: 400
                font-size: .2rem
                line-height: .34rem
                display: -webkit-box
                overflow: hidden
                text-overflow: ellipsis
                word-break: break-all  
            .info
                float: right
                color: #4169e2
                font-size: .22rem
                cursor: pointer
                padding-top .4rem