.mosk
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 50
    background-color: rgba(0,0,0,.6)
    .arrow
        position: absolute
        top: .23rem
        right: .17rem
        width: 2.03rem
        height: 2.11rem
        background-image: url(../../assets/images/icon-pilot@2x.37b07556.png);
        background-size: 100% 100%
    .hint
        position: absolute
        top: 2rem
        right: 1.20rem
        color: #fff
        font-weight: 500
        font-size: .4rem








.share-wrap
    position: fixed
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    box-sizing: content-box
    height: 1.2rem
    padding: 0 .12rem env(safe-area-inset-bottom)
    font-size: .16rem
    line-height: .44rem
    text-align: center
    background-color: #fff
    border-top: .005rem solid #ebebeb
    transition: bottom .3s
    .share
        margin 0 auto
        width 50%
        position: relative
        height: .8rem
        color: #4169e2
        font-weight: 400
        font-size: .4rem
        line-height: .8rem
        border: .02rem solid #4169e2
        border-radius: .6rem
        text-align center
        margin-bottom .01rem
    .share:hover
        background-color #4169e2
        color #fff
    