.map
    h3
        font-size .3    rem
        font-weight 500 
        padding-left .2rem
        padding-bottom .2rem
        text-align center
    .img
        text-align center
        img 
            width 90%
