.banner
    img
        width 100%

.title
    font-size .4rem
    color red
    text-align center
    margin-bottom 0rem
.desc
    padding .1rem
    font-size .3rem
    text-align center
    padding .1rem 0rem .3rem 0rem
.statistical
    font-size .12rem
    color #666
    margin-bottom .2rem
    padding 0 .2rem


.item-list
    display flex
    padding .3rem 0rem
    border-bottom .005rem solid #ebebeb
    border-top .005rem solid #ebebeb
    .item
        flex 1
        text-align center
        .num
            font-size .4rem
            line-height .265rem
        .txt
            padding-top .1rem
            font-size .2rem

.descList
    padding .2rem
    p
        margin-bottom: .04rem
        font-size: .15rem
        line-height: .38rem
        color #000000
