.wrap
    display flex
    font-size .34rem
    height: .8rem
    line-height .8rem
    color #333
    margin-bottom .2rem
    z-index: 2
    .item
        width 25%
        flex 1
        text-align center
.isFixed
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 15
    background-color: #4169e2
.fff
    color white
